.mat-white-font > * {
  color: aliceblue;
}
mat-toolbar {
  white-space: inherit;
}

blockquote {
  margin-inline-start: 0;
  padding-inline-start: 10px;
  margin-inline-end: 10px;
  border-left: 4px solid #3e4bf9;
  background: #d8dbfd;
  padding-top: 4px;
  padding-bottom: 4px;
}

.avatar {
  width: 100%;
  background: #7ac3fd;
  border-radius: 4px;
}

.font {
  &.primary {
    color: #3e4bf9;
  }
  &.warn {
    color: #f4360a;
  }
  &.accent {
    color: #ffce03;
  }
}

h3 {
  padding: 6px;
  background: #e7e7e7;
  border-radius: 6px;
}
