<div class="flex justify-center py-8">
  <div class="w-[90%] lg:w-[750px] lg:flex-none flex flex-col gap-4">
    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <div class="flex flex-row gap-1">
          <div class="flex-auto flex items-stretch justify-between">
            <div class="w-[150px] shrink-0">
              <img src="./assets/1x.png" class="avatar" alt="头像">
            </div>
            <div class="flex flex-col gap-2">
              <div class="w-full flex flex-row gap-[114px]" *ngFor="let info of baseInfo">
                <div class="w-[42px] shrink-0 flex justify-between" [innerHTML]="info.title | splitWrap"></div>
                <div class="flex-auto">
                  <a *ngIf="info.href; else plainText" [href]="info.href" [attr.target]="info.external ? '_blank' : null">{{info.value}}</a>
                  <ng-template #plainText>{{info.value}}</ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <mat-card-title>关于我</mat-card-title>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-content>
        <p>2012年底开始从事开发工作</p>
        <p>有{{yearsOfExperience}}年前端开发经验, 以及4年JAVA开发经验, 熟悉Hibernate, 熟悉MySQL/PostgreSQL.</p>
        <p>前端熟悉主流框架（Vue3/Angular 12~17/React）, 熟悉Taro栈小程序开发，3年tailwind CSS经验</p>
        <p>有7年Typescript使用经验</p>
        <p>熟悉Chrome/FireFox插件开发经验, 有Rust/WASM开发经验</p>
        <p>熟悉Linux系统(Ubuntu)</p>
        <div class="overflow-hidden rounded-lg bg-gray-800 text-white shadow my-2">
          <div class="p-3">
            <p class="text-base font-semibold leading-2">Rust/WASM图片处理项目</p>
            <a href="https://github.com/microprofile-inc/imagers" target="_blank">https://github.com/microprofile-inc/imagers</a>
          </div>
          <div class="p-3 pt-0">
            <p class="text-base font-semibold leading-2">Angular/ts项目</p>
            <a href="https://github.com/opensponsor/opensponsor-website" target="_blank">https://github.com/opensponsor/opensponsor-website</a>
          </div>
          <div class="p-3 pt-0">
            <p class="text-base font-semibold leading-2">Golang开发的私有存储注册表(registry/v2)</p>
            <a href="https://github.com/programschool/docker-registry" target="_blank">https://github.com/programschool/docker-registry</a>
          </div>
          <div class="p-3 pt-0">
            <p class="text-base font-semibold leading-2">Java/Quarkus项目</p>
            <a href="https://github.com/opensponsor/opensponsor-api" target="_blank">https://github.com/opensponsor/opensponsor-api</a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <mat-card-title>技术栈</mat-card-title>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-content>
        <div class="grid grid-cols-2 gap-6 justify-start items-center">
          <div class="w-full" *ngFor="let skill of skills">
            <div>{{skill.name}}</div>
            <mat-progress-bar [value]="skill.value" class="!h-[8px] rounded-lg"></mat-progress-bar>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <mat-card-title>教育经历</mat-card-title>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-content>
        <div class="flex flex-row gap-1.5">
          <div class="flex-auto">河北司法警官职业学院 · 计算机（专科）</div>
        </div>
        <div class="flex flex-row gap-1.5">
          <div class="flex-auto">北京兄弟连LAMP培训</div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <mat-card-title>项目介绍</mat-card-title>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-content>
        <div class="flex flex-col gap-4">
          <div class="flex flex-row gap-1.5" *ngFor="let project of projectList">
            <div class="w-[150px] shrink-0">{{project.name}}</div>
            <div class="flex-auto flex flex-col gap-4">
              <div class="flex flex-row justify-between">
                <mat-card-subtitle class="font primary">{{project.site}}</mat-card-subtitle>
                <mat-card-subtitle>{{project.type}}</mat-card-subtitle>
              </div>
              <div class="font-bold whitespace-nowrap">{{project.job}}</div>
              <div *ngFor="let stack of project.stacks" class="flex gap-2">
                <div class="whitespace-nowrap">{{stack.name}}: </div>
                <div>{{stack.intro}}</div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <mat-card-title>工作经历</mat-card-title>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-content>
        <div class="flex flex-col gap-4">
          <div class="flex flex-row gap-1.5" *ngFor="let com of companies">
            <div class="w-[150px] shrink-0">{{com.dateRange}}</div>
            <div class="flex-auto flex flex-col gap-4">
              <div class="flex flex-row justify-between">
                <mat-card-subtitle class="font primary">{{com.name}}</mat-card-subtitle>
                <mat-card-subtitle>{{com.role}}</mat-card-subtitle>
              </div>
              <div *ngFor="let work of com.works">{{work}}</div>
              <section *ngIf="com.links">
                <div *ngFor="let link of com.links" class="flex flex-col gap-4 mt-6">
                  <div class="flex flex-col gap-2">
                    <div class="font-bold">{{link.label}}</div>
                    <div *ngIf="link.img">
                      <img [src]="link.img" class="h-32 w-32" [alt]="link.label">
                    </div>
                    <div *ngIf="link.href">
                      <a [href]="link.href" class="text-blue-500" target="_blank">{{link.href}}</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
